<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DepartmentHrmConnectionString"
            connectionString="Data Source=DESKTOP-6KLKPT5\SQLEXPRESS;Initial Catalog=DepartmentHrm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>